.findcar-container{
  height:80vh;
  background-color: rgb(255, 255, 255);
  display:grid;
  grid-template-rows: 6fr 4fr ;
  gap:15px;
  padding-left: 250px;
  padding-right: 250px;
  margin-top: 18px;
}
.filter-option{
  background-color: whitesmoke;
  border-radius:10px;
  display: grid;
  grid-template-columns: 3.5fr 7fr 2.7fr;
  gap:15px;
}
.filter-plates{
  background-color: rgb(134, 101, 101);
  border-radius:10px;

}
.price-range{
  background-color: whitesmoke;
  padding:10px;
  padding-left: 20px;
  border-radius: 15px;
}

.price-box{
    height:90%;
    display: grid;
    grid-template-rows: 1fr 1.2fr; /* Chia thành 2 hàng bằng nhau */
    gap: 10px;
}
.bttn-600-800{
    background-color: rgb(91, 91, 204);
    border-radius: 15px;
}
.box2{
    border-radius: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.bttn-800-1m{
    background-color: blue;
    border-radius: 15px;
    
}
.bttn-1m{
    background-color: blue;
    border-radius: 15px;
}



.option-range{
  background-color: whitesmoke;
  display: grid;
  grid-template-rows: 1fr 9fr;
  gap: 7px;
}
.option-container-button{
    background-color: whitesmoke;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}
.btnn-theo-hang{
    background-color: #ffffff; 
    color: #000000; 
    border: none; 
    cursor: pointer;

}
.btnn-theo-hang:active{
    
}
.option-result{
    background-color: whitesmoke;
}
.support-range{
background-color: white;    

}